@import url('https://fonts.googleapis.com/css?family=Montserrat:400,700');
@font-face {
    font-family: "Segoe UI Emoji";
    src: url("../fonts/seguiemj.ttf");
}
@font-face {
    font-family: HelveticaRounded;
    src: url("../fonts/HelveticaRoundedLT-BlackObl.otf");
}
@font-face {
    font-family: MyriadPro;
    src: url("./fonts/MariadPro.otf");
}
*,body,p,ul{
    margin: 0;
    padding: 0;
}

/* start header   */
a:hover{
    text-decoration: none;
}
.header{
    /*background-image: url("../img/header/header-bg.png");*/
    width: 100%;
    height: 650px;
    background-size: cover;
    background-position: center center;
    transition: all 1s ease-in;
}

.header-wrapper {
    padding: 30px 0;
    width: 100%;
    height: 100%;
}
.logo-wrapper{

}
.header-menu{

    font-size: 14px;
    text-transform: uppercase;
    text-align: center;
}
.menu-item{
    padding: 10px 0;
    font-family: Montserrat;
    font-weight: 400;
}
.menu-item a,.fa-caret-down {
     color: #fff;
}

.header-content-wrapper{
    height: 100%;
    display: flex;
}
.slider-arrow-wrapper{
 color: #fde428;
 align-self: center;
}
.slider-arrow-wrapper>span{
    cursor: pointer;
}
.delimiter{
    margin: 0 5px;
}
.slider-content-wrapper{
    color: #fde428;
    align-self: center;

}
.slider-cube {
    background-image: url(../img/header/yellow-cube.png);
    height: 330px;
    width: 95%;
    background-size: contain;
    background-position: right center;
    background-repeat: no-repeat;
}
.slider-title{
    font-family: Montserrat;
    font-weight: bold;
    color: white;
    width: 50%;
    padding: 15% 21% 0;
}
.slider-title  {
    display: flex;
    font-size: 42px;
    font-weight: bold;
    line-height: 40px;
    text-align: right;


}
.slider-link {
    padding: 6% 0 7% 40%;
}
.slider-link a {
    color: #fde428;
    border-bottom: 2px solid #fde428;
    padding-bottom: 1px;
    text-transform: uppercase;
    font-size: 18px;
    font-weight: bold;
}

/* end header   */


/* start section-1 */

.section-article{
    padding: 100px 0;
}
.yellow-rectangle{
    margin: 0 22%;
    width: 50%;
    height: 100%;
    background: #fde52c;
}
.section-1-image{
    position: relative;
    top: calc(50% - 162.5px);
    left: -50%;
    background: #8f8f8f;
    width: 200%;
    height: 325px;
}
.article-title{
    font-family: Montserrat;
    font-weight: bold;
    font-size: 31px;
    line-height: 31px;
    color: #002e5b;
    text-transform: uppercase;
}
.article-text-1{
    font-family:"Segoe UI Emoji";
    font-size: 21px;
    line-height: 25px;
    margin: 30px 0;
    color: #8f8f8f;
}
.article-text-2{
    font-family:"Segoe UI Emoji";
    font-size: 16px;
    line-height: 25px;
    color: #333333;
    margin-bottom: 35px;
}
.article-anchor{
    font-family: Montserrat;
    font-weight: bold;
    font-size: 16px;
    line-height: 25px;
    color: #002e5b;
    text-transform: uppercase;
    border-bottom: 2px solid;
    padding-bottom: 3px;

}


/* end section-1 */


/* start section-2 */
.section-2{
    background: #f4f4f4;
}
.section-2-wrapper{
    padding: 100px 0;
}
.graph{
    background: url("../img/section-2/graph.png")no-repeat center center;

}

/* end section-2 */



/* start section-3 */
.section-3{
    background: #002E5B;
}
.section-3-text {
    font-family: Montserrat;
    font-weight: 400;
    color: #ffffff;
    font-size: 21px;
    padding:  35px 0;
}
.section-3-btn{
    font-family:Montserrat;
    font-weight: bold;
    color : #002E5B;
    margin:  35px 0;
    text-transform: uppercase;
    background: #fde428;
}
.section-3-btn:hover{
    background: #fdf75a;
}

/* end section-3 */


/* start section-4 */
.section-4-wrapper{
    margin-top: 100px;
}
.section-4-title{
    text-align: center;
    font-family: Montserrat;
    font-weight: bold;
    font-size: 31px;
    color: #002e5b;
    text-transform: uppercase;
}
.section-4-text{
    font-family: Montserrat;
    font-weight: 500;
    font-size: 21px;
    color: #707070;
    max-width:  632px;
    text-align: center;
    margin:  0 auto;
}

.section-4-articles{
    margin-top: 40px;
}
.section-4-image-1,.section-4-image-2,.section-4-image-3{
    background: #a1a1a1;
    width: 100%;
    height: 190px;
}
.section-4-articles-title{
    font-family: Montserrat;
    font-weight: bold;
    font-size: 21px;
    color: #002e5b;
    text-transform: uppercase;
    margin: 30px 0;
}
/* end section-4 */

/* start section-5 */
.section-5{
    display: flex;
    align-items: center;
    height: 300px;
    background: #002E5B;
}
.counter{
    font-family: Montserrat;
    font-weight: 500;
    color: #ffffff;
    font-size: 48px;
    letter-spacing: 0.2em;
    text-align: center;
}
.counter-title{
    font-family: "Segoe UI Emoji";
    font-size: 14px;
    color: #ffffff;
    text-transform: uppercase;
    text-align: center;
}
/* end section-5 */


/* start section-6 */
    .section-6-video{
        position: relative;
        top: calc(50% - 162.5px);
        left: -50%;
        width: 200%;
        height: 325px;
    }
/* end section-6 */


/* start section-7 */
.section-7{
    display: flex;
    background: #002e5b;
    padding: 120px 0;

}
.section-7-block{
    text-align: center;
}
.section-7-commas{
    width: 100%;
    font-family: HelveticaRounded;
    font-size: 47px;
    color: #ffffff;

}
.section-7-quote{
    width: 100%;
    font-family: MyriadPro;
    font-size: 20px;
    line-height: 38px;
    font-weight: 400;
    text-align: center;
    color: #ffffff;

}
.section-7-author-quote{
    margin: 0 auto;
    font-family: Montserrat;
    font-weight: bold;
    font-style: normal;
    letter-spacing: 3px;
    font-size: 14px;
    text-transform: uppercase;
    width: 500px;
    margin-top: 70px;
    color: #ffffff;

}
.section-7-author-quote:before,.section-7-author-quote:after{
    content: "";
    display: inline-block;
    margin-bottom: 4px;
    width: 20px;
    height: 2px;
    background: #ffffff;

}
/* end section-7 */

/* start section-8 */
.section-8{
    margin-bottom: 100px;
}
.section-8-map{
    margin: 45px 0 36px;
    width: 100%;
}
.section-8-title{
    margin-top: 100px;
    text-align: center;
    font-family: Montserrat;
    font-weight: bold;
    font-size: 31px;
    color: #002e5b;
    text-transform: uppercase;

}
.section-8-text{
    font-family: Montserrat;
    font-weight: 500;
    font-size: 21px;
    color: #707070;
    max-width:  632px;
    text-align: center;
    margin:  0 auto;
}
.address{
    padding-left: 35px;
}
.address-title{
    font-family: Montserrat;
    font-size: 16px;
    font-weight: bold;
    text-transform: uppercase;
    color: #002e5b;
    padding-left: 33px;
}
.address-item{
    font-family: "Segoe UI Emoji";
    font-size: 16px;
    list-style: none;
    padding:7px 0 5px 34px;
    color: #002e5b;

}
.marker-1{
    background: url("../img/section-8/markers/marker-1.png") no-repeat 0 13px;
}
.marker-2{
    background: url("../img/section-8/markers/marker-2.png") no-repeat 0 13px;
}
.marker-3{
    background: url("../img/section-8/markers/marker-3.png") no-repeat 0 13px;
}

/* end section-8 */

/* start footer */
.footer{
    background: #002e5b;
}
.footer-anchor{
    font: 16px  Montserrat;
    color: #ffffff;
}
.footer-anchor:hover{
    color: #ffffff;
}
.footer-anchor span{
    color: #fde52c;
}
.footer .container .row{
    height: 75px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.footer-links{
    display: flex;
    justify-content: space-between;
    width: 120px;
    list-style: none;
}




/* end footer */

@media (max-width: 1199px) {
    .logo-wrapper {
        flex: 0 0 25%;
        max-width: 25%;
    }

    .menu-wrapper {
        flex: 1 0 75%;
        max-width: 75%;

    }

    .menu-item--special {
        margin-right: 12px;
        flex: 0 0 15%;
        max-width: 15%;
    }

    .slider-title {
        padding: 16% 1% 0;
    }
    .slider-link{
        padding: 9.4% 0 7% 28%;
    }

    .yellow-rectangle-section-6{
        /*margin: 0 7%;*/
    }
    .section-5{
        height: 250px;
    }
    .section-7{
        padding: 65px 0;
    }
}
@media (max-width: 992px) {
    .header-menu{
        font-size: 11px;
    }
    .menu-item{
        flex: 0 0 15.666667%;
    }
    .slider-title{
        padding: 16% 2% 0;
    }


}

@media (max-width: 768px) {
    .article-title,section-4-title,section-8-title{
        font-size: 26px;
    }
    .section-3-text{
        font-size: 19px;
    }

}