@import url('https://fonts.googleapis.com/css?family=Montserrat:400,700');
@font-face {
    font-family: "Segoe UI Emoji";
    src: url("../fonts/seguiemj.ttf");
}
*,body,p{
    margin: 0px;
    padding: 0px;
}

/* start header   */
a:hover{
    text-decoration: none;
}
.header{
    background-image: url("../img/header/header-bg.png");
    width: 100%;
    height: 650px;
    background-size: cover;
    background-position: center center;
}

.header-wrapper {
    padding: 30px 0;
    width: 100%;
    height: 100%;
}
.logo-wrapper{

}
.header-menu{

    font-size: 14px;
    text-transform: uppercase;
    text-align: center;
}
.menu-item{
    padding: 10px 0;
    font-family: Montserrat;
    font-weight: 400;
}
.menu-item a,.fa-caret-down {
     color: #fff;
}

.header-content-wrapper{
    height: 100%;
    display: flex;
}
.slider-arrow-wrapper{
 color: #fde428;
 align-self: center;
}
.delimiter{
    margin: 0 5px;
}
.slider-content-wrapper{
    color: #fde428;
    align-self: center;

}
.slider-cube {
    background-image: url(../img/header/yellow-cube.png);
    height: 330px;
    width: 95%;
    background-size: contain;
    background-position: right center;
    background-repeat: no-repeat;
}
.slider-title{
    font-family: Montserrat;
    font-weight: bold;
    color: white;
    width: 50%;
    padding: 15% 21% 0;
}
.slider-title  {
    display: flex;
    font-size: 42px;
    font-weight: bold;
    line-height: 40px;
    text-align: right;


}
.slider-link {
    padding: 6% 0 7% 40%;
}
.slider-link a {
    color: #fde428;
    border-bottom: 2px solid #fde428;
    padding-bottom: 1px;
    text-transform: uppercase;
    font-size: 18px;
    font-weight: bold;
}

/* end header   */


/* start section-1 */

.section-article{
    padding: 100px 0;
}
.yellow-rectangle{
    margin: 0 26%;
    width: 50%;
    height: 100%;
    background: #fde52c;
}
.section-1-image{
    position: relative;
    top: 100px;
    left: -114px;
    background: #8f8f8f;
    width: 500px;
    height: 325px;
}
.article-title{
    font-family: Montserrat;
    font-weight: bold;
    font-size: 31px;
    line-height: 31px;
    color: #002e5b;
    text-transform: uppercase;
}
.article-text-1{
    font-family:"Segoe UI Emoji";
    font-size: 21px;
    line-height: 25px;
    margin: 30px 0;
    color: #8f8f8f;
}
.article-text-2{
    font-family:"Segoe UI Emoji";
    font-size: 16px;
    line-height: 25px;
    color: #333333;
    margin-bottom: 35px;
}
.article-anchor{
    font-family: Montserrat;
    font-weight: bold;
    font-size: 16px;
    line-height: 25px;
    color: #002e5b;
    text-transform: uppercase;
    border-bottom: 2px solid;
    padding-bottom: 3px;

}


/* end section-1 */


/* start section-2 */
.section-2{
    background: #f4f4f4;
}
.section-2-wrapper{
    padding: 100px 0;
}
.graph{
    background: url("../img/section-2/graph.png")no-repeat center center;

}

/* end section-2 */



/* start section-3 */
.section-3{
    background: #002E5B;
}
.section-3-text {
    font-family: Montserrat;
    font-weight: 400;
    color: #ffffff;
    font-size: 21px;
    padding:  35px 0;
}
.section-3-btn{
    font-family:Montserrat;
    font-weight: bold;
    color : #002E5B;
    margin:  35px 0;
    text-transform: uppercase;
    background: #fde428;
}
.section-3-btn:hover{
    background: #fdf75a;
}

/* end section-3 */


/* start section-4 */
.section-4-wrapper{
    margin-top: 100px;
}
.section-4-title{
    text-align: center;
    font-family: Montserrat;
    font-weight: bold;
    font-size: 31px;
    color: #002e5b;
    text-transform: uppercase;
}
.section-4-text{
    font-family: Montserrat;
    font-weight: 500;
    font-size: 21px;
    color: #707070;
    max-width:  632px;
    text-align: center;
    margin:  0 auto;
}

.section-4-articles{
    margin-top: 40px;
}
.section-4-image-1,.section-4-image-2,.section-4-image-3{
    background: #a1a1a1;
    width: 100%;
    height: 190px;
}
.section-4-articles-title{
    font-family: Montserrat;
    font-weight: bold;
    font-size: 21px;
    color: #002e5b;
    text-transform: uppercase;
    margin: 30px 0;
}
/* end section-4 */

/* start section-5 */
.section-5{
    display: flex;
    align-items: center;
    height: 300px;
    background: #002E5B;
}
.counter{
    font-family: Montserrat;
    font-weight: 500;
    color: #ffffff;
    font-size: 48px;
    letter-spacing: 0.2em;
    text-align: center;
}
.counter-title{
    font-family: "Segoe UI Emoji";
    font-size: 14px;
    color: #ffffff;
    text-transform: uppercase;
    text-align: center;
}
/* end section-5 */


/* start section-6 */
    .section-6-video{
        position: relative;
        top: 100px;
        left: -114px;
        width: 500px;
        height: 325px;
    }
/* end section-6 */